/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Cumtom Style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 32px;
}
/* Header */
.header {
    background-color: #22396A;
}
.brand img {
    width: 120px;
}
.nav-green {
    color: rgb(18, 176, 18);
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 32px;
    font-size: 20px; 
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-left: 32px;
    font-size: 20px;
}

/* Gallery */
.gallery {
    padding: 80px 0;
}
.gallery .flex {
    flex-wrap: wrap;
}
.heading {
    text-align: center;
    color:rgb(105, 30, 30);
    font-size: 44px;
}
.col-1 {
    width: 30%;
    margin: 40px 0;
}
.gallery img {
    width: 100% ;
}

/*footer*/
.footer {
    background-color: #22396A;
    padding: 30px;
    font-size: 20px;
}
.small {
    color: #b8caf1;
}
.footer nav {
    float: right;
}
nav a {
    color: #b8caf1;
    margin-left: 25px;
}